image: Visual Studio 2017

configuration:
#- Debug
- Release

install:
- ps: (new-object Net.WebClient).DownloadString("https://raw.github.com/madskristensen/ExtensionScripts/master/AppVeyor/vsix.ps1") | iex

before_build:
- ps: Vsix-IncrementVsixVersion | Vsix-UpdateBuildVersion
- nuget restore -Verbosity quiet
  #- ps: Vsix-TokenReplacement src\source.extension.cs 'Version = "([0-9\\.]+)"' 'Version = "{version}"'

build_script:
- msbuild /p:configuration=Release /p:DeployExtension=false /p:ZipPackageCompressionLevel=normal /v:m

after_test:
- ps: Vsix-PushArtifacts | Vsix-PublishToGallery
