<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GLSLhelper" version="0.1.7" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.8.525" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="15.9.28307" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.9.28307" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.36" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.27" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.9.28307" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.9.28307" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30111" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.26929" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26929" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.6.DesignTime" version="15.6.27413" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30730" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.8.525" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.8.525" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.8.525" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.8.525" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="15.8.209" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.209" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.9.28307" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net46" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.9.3032" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
  <package id="Sprache" version="2.2.0" targetFramework="net461" />
  <package id="StreamJsonRpc" version="1.4.134" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net46" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.6" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Zenseless.Geometry" version="0.5.121" targetFramework="net461" />
  <package id="Zenseless.HLGL" version="0.5.121" targetFramework="net461" />
  <package id="Zenseless.OpenGL" version="0.5.121" targetFramework="net461" />
  <package id="Zenseless.Patterns" version="0.5.121" targetFramework="net461" />
</packages>